*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Libre Baskerville";
}
header{
    height: 100%;
    background-size: cover;
    font-family: "Libre Baskerville";

}
nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.men {
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    flex-grow: 1;
    max-width: 150px;
    background-color: #000;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    margin: 50px;
    width: 150px;


}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 0;
    
}
.link:hover {
    color: grey;
}
body{
    height: 100%;
    background: linear-gradient(rgba(196, 206, 230, 0.75), rgba(196, 206, 230, 0.75)),url(../img/fondo1.jpg) no-repeat center center fixed ;
    background-size: cover;

}

.logo{
        border-radius: 50px;
        height: 200px;
}
.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.busque{
    display: flex;
    justify-content: center;
}
.buscador{
    border-radius: 25px;
    height: 30px;
    background-color:#000;
    color: white;
    padding: 10px;
}

.buscar {
    border-radius: 50px;
    height: 30px;
    width: 70px;
    color: white;
    background-color: #000;
}





.form-group {
    margin: 5px;
    text-align:center;
    border-radius: 5px;
    width: 33%;
    box-sizing: border-box;
    border-color: black;
} 



.inputs{
    display: flex;
    width: 245px;
    height: 100px;
    margin: 25px;
}
.registrado{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.register{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}
.caja{
    width: 200px;
    border-radius: 5px;
    height: 25px;
}
.caja-button{
    width: 100px;
    height: 20px;
}
.caja-enviar{
    display: flex;
    justify-content: space-around;
    width: 120px;
    height: 35px;
    background-color: rgba(8, 92, 181, 0.78);
    color: white;
    border-radius: 10px;
}
.caja-enviar:hover {
    background-color: #0659b3;
}
.checkbox{
    width: auto;
    height: 10px;
}
.linklog{
    text-decoration: none;
    color: #000;
}


.login{
    padding: 50px;
    margin: auto;
    height: fit-content;
    width: 450px;
    margin-bottom: 50px;
    color: #000;
    border-radius: 30px;
    /*aclaracion: esta partecita la hicimos con ayuda de una pagina que se llama neumorphism.io que ayuda con una tecnica llamada neomorfismo(que la unica propiedad que te ayuda realmente es con el box shadow para dar el efecto) a darle el efecto que le dimos nosotros me parecio una herramienta muy copada y que ayudaba al diseño de la pagina*/
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footercito1{
    width: 100%;

}
.footercito2{
    width: 50%;
    background-color: #666;
    border-radius: 10px;
    margin: 20px;

}
.footercito2:hover{
    border: red;
    background-color: rgb(188, 171, 171);
    color: #000;
}


.footercito3{
    width: 50%;
    margin: 20px;
    background-color: #666;
    height: 100px;
    border-radius: 10px;

}
.footercito3:hover{
    border: red;
    background-color: rgb(188, 171, 171);
    color: #000;
}
.footercito3 a{
    text-decoration: none;
    color:#fff;  
}
.footercito3 a:hover{
    color: #0659b3;
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 2)),  url(../img/logoscuro.jpg) no-repeat center center;
    background-size: cover;
    height:75vh;
    margin: 0; 
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-family: "Libre Baskerville";
    
}
.fc{
    margin: 10px;

}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.foot {
    margin: 10px 0;
    font-size: 16px;
}

.foot-creators {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.footer-card {
    background-color: #444; 
    border-radius: 8px; 
    padding: 20px;
    max-width: 300px; 
    margin: 20px auto; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.footer-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.footer-card h2 {
    color: #fff; 
    margin-bottom: 15px;
}

.contactoo {
    display: block;
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s;
}

.contact-item :hover {
    color: #0056b3; 
}

.contactito  {
    color: #fff; 
}



h3{
    font-family: "Libre Baskerville";
    display: flex;
    justify-content: center;
    margin: 55px;
}

.recetas {
    padding: 20px;
    text-align: center;
    justify-content: center;
}




.fotos-recetas {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.recetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 17%;
/*aclaracion: esta partecita la hicimos con ayuda de una pagina que se llama neumorphism.io que ayuda con una tecnica llamada neomorfismo a darle el efecto que le dimos nosotros me parecio una herramienta muy copada y que ayudaba al diseño de la pagina*/
    border-radius: 23px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  28px 28px 57px #b5b5b5,
            -28px -28px 57px #ffffff;
}

.imagenes:hover {
    box-shadow: 0px 0px 7px #666;;
}


.receta-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


.fee {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.imagenes p{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    color: #666;
    line-height: 1.4;
}


.carga{
    display: flex;
    justify-content: center;
}

.cargar{
    display: flex;
    justify-content: center;
    margin: 60px auto;
    padding: 15px 20px;
    border-radius: 6px;
    height: 50px;
    width: 180px;
    border: none;
    background-color: #6668;
    color: aliceblue;
}
.cargar:hover{
    background-color: #444;
}
.ingredients{
    background-color: bisque;
    border-radius: 5px;
    border: #666;
    text-decoration: none;
    color: #666;
    height: 30px;
    display: block;
    justify-content: center;
    margin: 10px;
    padding: 5px 10px;
}


.ingredients:hover{
    color: #fff;
}



.image{
    width: 400px; 
    padding: 20px;
}

/* receta*/

.receta-especifica{
    width: 600px;
    padding: 40px;
    margin: 40px 400px;
    box-shadow:0px 10px 20px #0007;
    /*aclaracion: esta partecita la hicimos con ayuda de una pagina que se llama neumorphism.io que ayuda con una tecnica llamada neomorfismo a darle el efecto que le dimos nosotros me parecio una herramienta muy copada y que ayudaba al diseño de la pagina*/
    border-radius: 23px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  28px 28px 57px #b5b5b5,
        -28px -28px 57px #ffffff;
}
.titulo-receta{
    margin: 10px;
    margin-bottom: 20px;
}
.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recetasas{
    width: 400px;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 23px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  28px 28px 57px #b5b5b5,
                    -28px -28px 57px #ffffff;
}
.resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.results{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.ver-receta{
    display: flex;
    justify-content: center;
    margin: 60px auto;
    padding: 15px 20px;
    border-radius: 6px;
    height: 50px;
    width: 180px;
    border: none;
    background-color: #6668;
    color: aliceblue;
    text-decoration: none;
}
.ver-receta:hover{
    background-color: #ddd;
}

.sub-search{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.recetasas-img{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 15px 20px;
    width: 75% ;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
/* categorias */

.receta-card{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
}

.btn{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    width: 200px;
    margin: 23px;
    height: 40px;
    padding: 10px;
    box-shadow:0px 7px 10px #000 ;
}

.btn:hover{
    background-color: #000;
    color: #fff;
}
.titul{
    font-family: "Libre Baskerville";
    display: flex;
    justify-content: center;
    margin: 55px;
    width: 100%;
}
.category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}


@media (max-width: 700px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .men {
        width: 100%;
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
    }

    .imagenes {
        width: 90%;
        margin: 10px auto;
        
    }

    .recetas {
        flex-direction: column;
        align-items: center;
    }

    .receta-img {
        max-width: 100%;
    }

    .login {
        width: 90%;
        padding: 20px;
    }

    footer {
        font-size: 8px;
    }
    .logo{
        border-radius: 50px;
        height: 180px;
    }
    
    
}
