*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Libre Baskerville";
}
header{
    background-color: rgba(138, 164, 171, 0.14);
    font-family: "Libre Baskerville";
}
nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.men {
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    flex-grow: 1;
    max-width: 150px;
    background-color: #000;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    margin: 50px;
    width: 150px;


}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 0;
    
}
.link:hover {
    color: grey;
}
body{
    height: 100%;
    background: linear-gradient(rgba(196, 206, 230, 0.75), rgba(196, 206, 230, 0.75)),url(../img/fondo1.jpg) no-repeat center center fixed ;
    background-size: cover;

}

.logo{
        border-radius: 50px;
        height: 200px;
}
.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.busque{
    display: flex;
    justify-content: center;
}
.buscador{
    border-radius: 25px;
    height: 30px;
    background-color:#000;
    color: white;
    padding: 10px;
}

.buscar {
    border-radius: 50px;
    height: 30px;
    width: 70px;
    color: white;
    background-color: #000;
}





.form-group {
    margin: 5px;
    text-align:center;
    border-radius: 5px;
    width: 33%;
    box-sizing: border-box;
    border-color: black;
} 



.inputs{
    display: flex;
    width: 245px;
    height: 100px;
    margin: 25px;
}
.registrado{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.register{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}
.caja{
    width: 200px;
}
.caja-button{
    width: 100px;
    height: 20px;
}
.caja-enviar{
    display: flex;
    justify-content: space-around;
    width: 120px;
    height: 35px;
    background-color: rgba(8, 92, 181, 0.78);
    color: white;
    border-radius: 10px;
}
.caja-enviar:hover {
    background-color: #0659b3;
}
.checkbox{
    width: auto;
    height: 10px;
}
.linklog{
    text-decoration: none;
    color: white;
}


.login{
    padding: 50px;
    background-color: #000;
    margin: auto;
    height: fit-content;
    width: 450px;
    margin-bottom: 50px;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 10px 20px #000;
}



footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.foot {
    margin: 10px 0;
    font-size: 16px;
}

.foot-creators {
    font-size: 18px;
    font-weight: bold;
    color: white;
}


h3{
    font-family: "Libre Baskerville";
    display: flex;
    justify-content: center;
    margin: 55px;
}

.recetas {
    padding: 20px;
    text-align: center;
}




.fotos-recetas {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.recetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.imagenes:hover {
    box-shadow: 0px 0px 7px #666;;
}


.receta-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


.fee {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.imagenes p{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    color: #666;
    line-height: 1.4;
}


.carga{
    display: flex;
    justify-content: center;
}

.cargar{
    display: flex;
    justify-content: center;
    margin: 60px auto;
    padding: 15px 20px;
    border-radius: 6px;
    height: 50px;
    width: 180px;
    border: none;
    background-color: #6668;
    color: aliceblue;
}
.cargar:hover{
    background-color: #444;
}
.ingredients{
    background-color: bisque;
    border-radius: 5px;
    border: #666;
    text-decoration: none;
    color: #666;
    height: 30px;
    display: block;
    justify-content: center;
    margin: 10px;
    padding: 5px 10px;
}


.ingredients:hover{
    color: burlywood;

}



.image {
    width: 400px; 
    padding: 20px;
}

